/* HangmanGame.css */
.hangman-container {
    text-align: center;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 10 10 10px rgba(0, 0, 0, 0.2);
}

.hangman-container h1 {
    color: white;
    font-weight: 900;
    font-size: 48px;

}

.word-display {
    margin: 20px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    color: white;
}

.letter {
    margin: 0 5px;
    font-size: 24px;
    display: inline-block;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    transition: all 0.3s ease;
}

.letter.guessed {
    color: rgb(112, 159, 195);
    border-bottom: 2px solid green;
}

.keyboard {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 10px;
}

.keyboard button {
    font-size: 18px;
    padding: 10px 5px;
    background-color: #b6dff3;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.keyboard button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.keyboard button:hover {
    background-color: #95e1fd;
}

.result-message {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    color: #ffffff;
}

.new-game-button {
    font-size: 18px;
    padding: 10px 15px;
    background-color: #064e89;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.new-game-button:hover {
    background-color: #0b7dda;
}

.hangman-container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.hangman-container h1 {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

.quit-button {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.quit-button:hover {
  background: purple;
}