.footer {
  background: black;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding-left: 5%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 30px;
}

.feedback-section {
  max-width: 500px;
  flex: 1;
  padding-top: 1%;
}

.feedback-section h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 2%;
  color: white;
}

.feedback-section p {
  font-size: 18px;
  opacity: 0.8;
  margin-bottom: 10%;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.feedback-form label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: bold;
  justify-content: space-between;
  width: 100%;
}

.feedback-form select {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
  color: black;
}

.feedback-form textarea {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: none;
  color: white;
  width: 300px;
  height: 100px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.stars {
  display: flex;
  gap: 5px;
}

.star {
  cursor: pointer;
  font-size: 20px;
  transition: color 0.2s;
}

.star.selected {
  color: gold;
}

.feedback-form button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  background: #d000ff;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.feedback-form button:hover {
  background: #ca9fe2;
  color: black;
}

.footer-image {
  flex-shrink: 0;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 40%;
}

.footer-image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.footer-bottom {
  margin-top: 100px;
  align-self: flex-start;
}

.footer-bottom h2 {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.footer-bottom p {
  font-size: 14px;
  opacity: 0.8;
}
